.footer {
   
    
    transform: translateY(-2rem);
    width: 97.66%;
    z-index: 3000;
    
    background-color: rgb(164, 64, 64);

    &__text {
        text-align: center;
        color: white;
        font-size: 2rem;
    }

    
   
}

@media only screen and (max-width:1200px) {
    .footer {

       display: none; 

    }

}

    
