
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}

html {
    font-size: $default-font-size;
    
}



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');


body {
    font-family: 'Poppins', sans-serif !important;
    font-size: 10px !important;
    font-weight: 400 !important;
    padding: 3rem !important;
    background-color: wheat !important;
}